.loader{
    width: 3rem;
}

.galleryTile{
    padding: 1rem;
}

.resultDiv{
    width:100%;
    position: relative;
}

.resultThumbnail{
    width: 100%;
}

.boundingBox{
    position: absolute;
    border:solid 2px green;
}

.boundingBoxLabel{
    background: green;
    padding: 0.4rem;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    max-width: 100%;
    overflow: hidden;
}